.btn {
  text-decoration: none;
  background-color: transparent;
  color: $blue;

  &-pill {
    border: 1px solid $blue;
    border-radius: 25px;
    padding: 5px 10px;
    width: fit-content;
    display: block;
    text-transform: uppercase;
    text-align: center;
    font-size: 14px;
    font-weight: 700;
  }

  &-chevron {
    &:after {
      content: '>';
      padding-left: 10px;
    }
  }
}