.btn{
  border: 1px solid $blue;
  text-decoration: none;
  border-radius: 25px;
  display: block;
  width: fit-content;
  padding: 5px 10px;    
  text-align: center;
  text-transform: uppercase;
  background-color: transparent;
  color: $blue;
}