#hero {
  background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0)), url('https://www.blackberry.com/content/dam/amp/images/homeHeroBanner-720w.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  color: $white;
  .btn{
    color: $white;
    border-color: $white;
  }
}