@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/roboto/v19/KFOmCnqEu92Fr1Mu4mxP.ttf);
  }
  


@import 'colours';

@import 'layout/layout';

@import 'typography/typography';
@import 'buttons/buttons';

@import 'accordion/accordion';
@import 'carousel/carousel';
@import 'header/header';
@import 'hero/hero';
@import 'nav/nav';
@import 'consent/oneTrust';
@import 'section/section';
@import 'cards/cards';
@import 'cards/product-card';
@import 'footer/footer';
@import 'consent/consent';