<amp-user-notification 
id="consent" 
layout="nodisplay">    
<div id="consent-ui">
  <p>
    BlackBerry uses cookies to help make our website better. Some of the cookies are necessary for proper
    functioning of the site, while others are to help us understand how you use it. <a title="BlackBerry Privacy Policy" href="https://us.blackberry.com/legal/privacy-policy">Read more here</a> about our cookies, and how you can
    opt out. By continuing to use this site you accept our use of cookies.
  </p>
  <button class="btn" on="tap:consent.dismiss" role="button">Accept</button>      
</div>
</amp-user-notification>