<div class='footer' role='footer'>
    <section id="footerCopyRight">
      <div class='col-12'>
        <p>© 2020 BlackBerry Limited. All rights reserved.</p>
        <p><a href="https://www.blackberry.com/us/en/forms/enterprise/contact-us">Contact Us</a> | <a
            href="https://www.blackberry.com/us/en/support/overview">Support</a></p>
      </div>
    </section>
    <amp-accordion class='footerMenu' expand-single-section animate>
      <section>
        <h2 class='footerMenu-heading'>Corporate</h2>
        <div class='footerMenu-items'>
          <div class='footerMenu-items--flex'>
            <ul>
              <li>
                <a href="http://blogs.blackberry.com/" role="menuitem">Company</a>
              </li>
              <li>
                <a href="http://devblog.blackberry.com/" role="menuitem">Newsroom</a>
              </li>
              <li>
                <a href="http://helpblog.blackberry.com/" role="menuitem">Investors</a>
              </li>
              <li>
                <a href="http://helpblog.blackberry.com/" role="menuitem">Careers</a>
              </li>
            </ul>
            <ul>
              <li>
                <a href="https://www.blackberry.com/us/en/customers/resource-center?assetType=webcast">Leadership</a>
              </li>
              <li>
                <a href="https://www.blackberry.com/us/en/company/newsroom">Corporate Responsibility</a>
              </li>
              <li>
                <a href="https://www.blackberry.com/us/en/company/newsroom">Certifications</a>
              </li>
              <li>
                <a href="https://www.blackberry.com/us/en/company/newsroom">Customer Success</a>
              </li>
            </ul>
          </div>
        </div>
      </section>
      <section>
        <h2 class='footerMenu-heading'>Developers</h2>
        <div class='footerMenu-items'>
          <div class='footerMenu-items--flex'>
            <ul>
              <li>
                <a href="http://blogs.blackberry.com/" role="menuitem">Enterprise Plaptform & Apps</a>
              </li>
              <li>
                <a href="http://devblog.blackberry.com/" role="menuitem">Blackberry QNX Developer Network</a>
              </li>
            </ul>

          </div>
        </div>
      </section>
      <section>
        <h2 class='footerMenu-heading'>Blog</h2>
        <div class='footerMenu-items'>
          <div class='footerMenu-items--flex'>
            <ul>
              <li>
                <a href="http://blogs.blackberry.com/" role="menuitem">Enterprise Plaptform & Apps</a>
              </li>
              <li>
                <a href="http://devblog.blackberry.com/" role="menuitem">Blackberry QNX Developer Network</a>
              </li>
            </ul>

          </div>
        </div>
      </section>
      <section>
        <h2 class='footerMenu-heading'>Legal</h2>
        <div class='footerMenu-items'>
          <div class='footerMenu-items--flex'>
            <ul>
              <li>
                <a href="http://blogs.blackberry.com/" role="menuitem">Enterprise Plaptform & Apps</a>
              </li>
              <li>
                <a href="http://devblog.blackberry.com/" role="menuitem">Blackberry QNX Developer Network</a>
              </li>
            </ul>

          </div>
        </div>
      </section>
      <section>
        <h2 class='footerMenu-heading'>Languages</h2>
        <div class='footerMenu-items'>
          <div class='footerMenu-items--flex'>
            <ul>
              <li><a href="https://www.blackberry.com/us/en/">English</a></li>
              <li><a href="http://de.blackberry.com/">German</a></li>
              <li><a href="http://global.blackberry.com/fr">French</a></li>
              <li><a href="http://global.blackberry.com/es">Spanish</a></li>

            </ul>
            <ul>
              <li><a href="http://global.blackberry.com/ar">Arabic</a></li>
              <li><a href="http://id.blackberry.com/">Indonesian</a></li>
              <li><a href="http://jp.blackberry.com/">Japanese</a></li>
              <li><a href="https://global.blackberry.com/zh">Chinese</a></li>
            </ul>
          </div>
        </div>
      </section>
    </amp-accordion>
</div>