section {
  padding: 20px 15px;
  position: relative;

  &.hero {
    padding: 0;
    .btn{
      color: #fff;
      border-color: #fff;
    }
  }

  &.body {
    &:nth-child(odd) {
      background: $greyL45;
    }
  }

}

.hero {
  &-copy {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 15px;
    color: #fff;
    display: flex;
    flex-direction: column;    
    justify-content: center;
  }
}